<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </appenders>
    <loggers>
        <!--    自定义日志级别    -->
        <logger name="org.springframework" level="info" additivity="false">
            <appender-ref ref="Console"/>
        </logger>
        <logger name="org.mybatis" level="info" additivity="false">
            <appender-ref ref="Console"/>
        </logger>

        <!--    设置日志的最低级别    -->
        <root level="debug">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>