<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsd.dao.OperatelogDao">
  <resultMap id="BaseResultMap" type="com.gsd.entity.Operatelog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="operateMsg" jdbcType="VARCHAR" property="operatemsg" />
    <result column="logType" jdbcType="VARCHAR" property="logtype" />
    <result column="requestMethod" jdbcType="VARCHAR" property="requestmethod" />
  </resultMap>
  <sql id="Base_Column_List">
    id, operateMsg, logType, requestMethod
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from operatelog
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from operatelog
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.gsd.entity.Operatelog" useGeneratedKeys="true">
    insert into operatelog (operateMsg, logType, requestMethod
      )
    values (#{operatemsg,jdbcType=VARCHAR}, #{logtype,jdbcType=VARCHAR}, #{requestmethod,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.gsd.entity.Operatelog" useGeneratedKeys="true">
    insert into operatelog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="operatemsg != null">
        operateMsg,
      </if>
      <if test="logtype != null">
        logType,
      </if>
      <if test="requestmethod != null">
        requestMethod,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="operatemsg != null">
        #{operatemsg,jdbcType=VARCHAR},
      </if>
      <if test="logtype != null">
        #{logtype,jdbcType=VARCHAR},
      </if>
      <if test="requestmethod != null">
        #{requestmethod,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gsd.entity.Operatelog">
    update operatelog
    <set>
      <if test="operatemsg != null">
        operateMsg = #{operatemsg,jdbcType=VARCHAR},
      </if>
      <if test="logtype != null">
        logType = #{logtype,jdbcType=VARCHAR},
      </if>
      <if test="requestmethod != null">
        requestMethod = #{requestmethod,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gsd.entity.Operatelog">
    update operatelog
    set operateMsg = #{operatemsg,jdbcType=VARCHAR},
      logType = #{logtype,jdbcType=VARCHAR},
      requestMethod = #{requestmethod,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>